{% extends 'template.html.twig' %}
{% block title %} Home | CF2M {% endblock %}


{% block content %}
        <div class="d-flex flex-column w-100 align-items-center rounded-3 py-4 mt-4 bg-warning">
                <h2>Bienvenue</h2>
                <h3>'Landing Page' pour CF2M</h3>
                <h4>&lpar;Ce site était crée par BaiGui et Leerlandais&rpar;</h4>
        </div>
{% endblock %}



