{% extends 'template.html.twig' %}
{% block title %} Formations | CF2M {% endblock %}

{% block content %}
        {% block hero %}
                <section>
      <div class="container">
        <div id="hero" class="row content align-items-center pt-5 pb-5 mt-3 mb-5">
          <div
            class="col-lg-5 py-lg-0 order-1 order-lg-1"
            data-aos="fade-right"
          >
            <h1 class="ps-5">
              DÉVELOPPEUR.SE <br /> WEB
            </h1>
            <h2 class="ps-5">Formation gratuite pour chercheur d'emploi habitant la région bruxelloise.<br />
                En cours du jour à Bruxelles.</h2>
                </div>
            <!--
          <div class="col-lg-2 py-5 py-lg-0 order-2 order-lg-1">
            <a href="#contact" target="_blank" class="scrollto"><img src="../public/images/contact-button.png" data-aos="fade-up" data-aos-anchor-placement="top-bottom"></a>
          </div>
          -->
          <div
            class="col-lg-5 order-1 order-lg-3 hero-img"
            data-aos="fade-left"
          >
            <img src="../public/images/img-colleague.svg" class="img-fluid" alt="Photo Accueil" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->
{% endblock %}



{% endblock %} {# end content #}


