{% extends 'template.html.twig' %}
{% block title %} Home | CF2M {% endblock %}

{% block content %}
        {% block hero %}
                <section id="hero" class="m-5">
      <div class="container-fluid">
        <div class="row content align-items-center pt-5 pb-5">
          <div
            class="col-lg-5 py-lg-0 order-1 order-lg-1"
            data-aos="fade-right"
          >
            <h1 class="ps-5">
              FORMATIONS <br /> PROFESSIONNELLES
            </h1>
            <h2 class="ps-5">des métiers du numérique <br />
                pour chercheurs et chercheuses d'emploi</h2>
                </div>
                <div
            class="col-lg-2 py-5 py-lg-0 order-2 order-lg-1">
            <a href="#" target="_blank" class="scrollto"><img src="../public/images/contact-button.png" data-aos="fade-up" data-aos-anchor-placement="top-bottom"></a>
          </div>
          <div
            class="col-lg-5 order-1 order-lg-3 hero-img"
            data-aos="fade-left"
          >
            <img src="../public/images/img-colleague.svg" class="img-fluid ms-5 ps-5" alt="Photo Accueil" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->
                </div>
        {% endblock %} {# end hero #}

        {% block presentation %}
                {% include "/publicView/inc/presentation.section.html.twig" %}
        {% endblock %}

        {% block formations %}
                {% include "/publicView/inc/formations.section.html.twig" %}
        {% endblock %}

        {% block projects %}
                {% include "/publicView/inc/projects.section.html.twig" %}
        {% endblock %}

        {% block contactForm %}
                {% include "/publicView/inc/contact.section.html.twig" %}
        {% endblock %}

        {% block partners %}
                {% include "/publicView/inc/partner.section.html.twig" %}
        {% endblock %}

        {% block avis %}
                {% include "/publicView/inc/avis.section.html.twig" %}
        {% endblock %}

        {% block autreOne %}  {# Ceci sont des Placeholder - Changer le nom du block ici et dans base.html.twig si on les utilise #}

        {% endblock %}

        {% block autreTwo %}  {# Ceci sont des Placeholder - Changer le nom du block ici et dans base.html.twig si on les utilise #}

        {% endblock %}



{% endblock %} {# end content #}


