{# Pour contenir les logos/liens pour les Avis #}

<div id="review-container" class="d-none h-25 w-25"></div>

{% block javascript %}
<script src="/public/scripts/dummy-reviews.js"></script>
{% endblock %}