{# Pour contenir logo/liens vers les formations #}
<section id="team" class="team section-bg mb-5">
      <div class="container">
        <div class="section-title text-start ps-4 col-xl-4 col-lg-3 col-md-2 mt-3">
          <h2 data-aos="fade-in">Nos Formations <span style="color:#6EBDE9";>CF2M</span></h2>
        </div>

        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up">
              <a href="#"><div class="pic"><img src="../public/images/logo-anim-digi.png" alt=""></div></a>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <a href="#"><div class="pic"><img src="../public/images/logo-advent-digi.png" alt=""></div></a>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <a href="#"><div class="pic"><img src="../public/images/logo-atouts-jeune.png" alt=""></div></a>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <a href="#"><div class="pic"><img src="../public/images/logo-web-dev.png" alt=""></div></a>
            </div>
          </div>

        <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <a href="#"><div class="pic"><img src="../public/images/logo-tech-supp.png" alt=""></div></a>
            </div>
          </div>


        <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <a href="#"><div class="pic"><img src="../public/images/logo-digi-des.png" alt=""></div></a>
            </div>
          </div>


        </div>
      </div>
    </section>