{# Pour contenir logo/liens vers les formations #}

<section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Notre équipe</h2>
          <p data-aos="fade-in" style="color: black;">Notre équipe dévouée à vous faire avancer.</p>
        </div>

        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up">
              <div class="pic"><img src="assets/img/team/jacques.png" alt=""></div>
              <h4>Jacques Vandernaelen</h4>
              <span style="color: black;">Accompagnateur</span>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="pic"><img src="assets/img/team/sarah2.png" alt=""></div>
              <h4>Sarah Lee</h4>
              <span style="color: black;">Formatrice</span>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="pic"><img src="assets/img/team/jeanmichel.png" alt=""></div>
              <h4>Jean Michel</h4>
              <span style="color: black;">Formateur</span>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic"><img src="../public/images/logo-web-dev.png" alt=""></div>
              <h4>Développement Web Full-Stack</h4>
              <span style="color: black;">Formatrice</span>
            </div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic"><img src="../public/images/logo-web-dev.png" alt=""></div>
              <h4>Développement Web Full-Stack</h4>
              <span style="color: black;">Formatrice</span>
            </div>
          </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="pic"><img src="../public/images/logo-web-dev.png" alt=""></div>
              <h4>Développement Web Full-Stack</h4>
              <span style="color: black;">Formatrice</span>
            </div>
          </div>
        </div>

        </div>
      </div>
    </section><!-- End Team Section -->