{# Pour contenir les logos/liens pour les partenaires #}
<section id="partner" class="team section-bg">
      <div class="container">
        <div class="section-title text-start ps-4 col-xl-4 col-lg-3 col-md-2 mt-3">
          <h2 data-aos="fade-in">Les partenaires <span style="color:#6EBDE9";>CF2M</span></h2>
        </div>

        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up">
              <a href="#"><div class="pic"><img src="../public/images/logo-digi-city" alt=""></div></a>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <a href="#"><div class="pic"><img src="../public/images/logo-franco.png" alt=""></div></a>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <a href="#"><div class="pic"><img src="../public/images/logo-fse.png" alt=""></div></a>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 pt-3">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <a href="#"><div class="pic"><img src="../public/images/logo-actiris.png" alt=""></div></a>
            </div>
          </div>

        <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <a href="#"><div class="pic"><img src="../public/images/logo-bxl-form.png" alt=""></div></a>
            </div>
          </div>


        <div class="col-xl-2 col-lg-2 col-md-2">
            <div class="member" data-aos="fade-up" data-aos-delay="500">
              <a href="#"><div class="pic"><img src="../public/images/logo-you-start.png" alt=""></div></a>
            </div>
          </div>


        </div>
      </div>
    </section>