{# Pour contenir toute du section Presentation #}
 <section id="presentation" class="features section-bg">
      <div class="container">
        <div class="section-title">
          <h2 data-aos="fade-in">PRESENTATION</h2>
        </div>
        <div class="row content">
          <div class="col-md-6 justify-content-center" data-aos="fade-right">
            <img src="{{ PROJECT_DIRECTORY }}/public/images/img-colleague2.svg"
                 class="img-fluid ps-5 pt-5 "
                 alt="CF2M Presentation" />
          </div>
          <div class="col-md-6 pt-4 mt-2" data-aos="fade-left">
            <p>
            <strong>Bienvenue au Centre de Formation 2 Mille </strong>
            Situé à Saint-Gilles, Bruxelles. Notre mission est de favoriser l'insertion sociale et professionnelle grâce à des formations diversifiées dans le domaine de l'informatique.
            </p>
            <p class="fst-italic text-dark">
            <strong>Nos Formations</strong>
            Nous proposons des formations professionnelles pour les chercheurs et chercheuses d'emploi, ainsi que des formations d'orientation pour ceux qui souhaitent découvrir et choisir une formation dans le domaine de l'informatique.
            </p>
            <p class="fst-italic text-dark">
            <strong> Nos programmes </strong> sont conçus pour vous aider à acquérir des compétences pratiques et pertinentes pour le marché du travail. En partenariat avec Bruxelles-Formation, Actiris, la Cocof et l'Union Européenne, nos formations se terminent par un stage de six semaines en entreprise, garantissant une expérience concrète et valorisante.
            </p>
            <p class="fst-italic text-dark">
            <strong>Notre Engagement</strong>
            Le CF2M est également un acteur important de l’économie sociale à Bruxelles. Nous participons activement au réemploi informatique et au démantèlement des déchets électroniques, tout en offrant des services en communication numérique, comme la conception graphique et la création de sites web.</p>
            <p class="fst-italic text-dark mb-5">
            <strong>Notre objectif</strong> est de lutter contre l'exclusion sociale et culturelle en offrant un accès équitable à la formation et à l'emploi.
            Nous vous accompagnons tout au long de votre parcours avec un accompagnement social et une aide à la recherche d'emploi. Rejoignez-nous et commencez dès aujourd'hui à bâtir une carrière réussie dans le domaine de l'informatique. 
            </p>
          </div>
          </div>
          </div>
</section>
