{% extends 'template.html.twig' %}
{% block title %} Home | Public {% endblock %}

{% block content %}
    <div class="container pt-8 mt-6 flex flex-col gap-4">
        <h2 class="text-5xl">Désolé</h2>
        <h3 class="text-4xl">Cette page n'existe pas</h3>

    </div>
{% endblock %}