<!DOCTYPE html>
<html lang="{% block lang %}fr{% endblock %}">
<head>
    {% block head %}
        {% block meta %}{% endblock %}
        <title>{% block title %}Title{% endblock %}</title>
        {% block stylesheet %}{% endblock %}
    {% endblock %}
</head>
{% block body %}
    <body class={% block bodyClass %}{% endblock %}> {# Cela peut être utilisé pour définir le style du <body> - Ce bloc contient tous les autres (header, main, content and footer#}

    {% block header %}{% endblock %}

        <main class={% block mainClass %}{% endblock %}> {# Cela peut être utilisé pour définir le style du <main> à l'interieur du <body> - Ce bloc est destiné à la classe (c'est-à-dire au style) du <main> Ne pas mettre de contenu ici!  #}
            {% block content %}{% endblock %} {# Ce bloc est destiné au contenu principal de la page (header et footer de page sont séparés) #}
            {% block contentUpper %}{% endblock %}
        </main>

    {% block footer %}{% endblock %}

    {% block javascript %}{% endblock %}

    </body> {% endblock %}
</html>