{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

{% block stylesheets %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
{% endblock %} {# end stylesheets #}
{% endblock %} {# end head #}
{% block bodyClass %}"bg-gray-300"{% endblock %} {# ajoute temporaire car c'est plus confortable pour les yeux #}
{% block header %}
<nav class="flex mx-[5%] mt-12 py-1 leading-loose w-auto border-2 border-cyan-600 rounded-full">
    <a href="?route=home"><img src="images/cf2m-logo-good.png" alt="Logo CF2M" class="mx-2 size-9"></a>
    <ul class="flex justify-evenly mx-auto w-[75%]">
            <li>
        <a href="?route=home" class="uppercase">
                accueil
        </a>
            </li>
            <li>
        <a href="?route=cent" class="uppercase">
                Notre Centre
        </a>
            </li>
            <li>
        <a href="?route=form" class="uppercase">
                Formations
        </a>
            </li>
            <li>
        <a href="?route=work" class="uppercase">
                Travaux
        </a>
            </li>
            <li>
        <a href="?route=resx" class="uppercase">
                Nos Resaux
        </a>
            </li>
    </ul>
    <a href="https://cf2m.be"><img src="images/cf2m-logo-good.png" alt="Logo CF2M" class="mx-2 size-9"></a>
</nav>
{% endblock %}


{% block footer %}
    <div class="flex flex-row w-[25%] mx-auto justify-center absolute bottom-48 left-0 right-0">
        &copy;
        <a href="https://2023.webdev-cf2m.be/Guillaume/"
           target="_blank"
           rel="noopener noreferrer"
           class="pr-2 pl-2 text-blue-700">
            BailGui.
        </a>
        <a href="https://leerlandais.com"
           target="_blank"
           rel="noopener noreferrer"
           class="pr-3 text-blue-700">
            Leerlandais
        </a>
        {{ 'now' | date('Y') }}
    </div>
{% endblock %}