{% extends 'base.html.twig' %}
{% block head %}
        {{ parent() }}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block stylesheets %}
        <link
                href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
                rel="stylesheet"
        />
        <!-- Vendor CSS Files -->
        <link href="../assets/vendor/aos/aos.css" rel="stylesheet" />
        <link
                href="../assets/vendor/bootstrap/css/bootstrap.min.css"
                rel="stylesheet"
        />
        <link
                href="../assets/vendor/bootstrap-icons/bootstrap-icons.css"
                rel="stylesheet"
        />
        <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
        <link
                href="../assets/vendor/glightbox/css/glightbox.min.css"
                rel="stylesheet"
        />
        <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

        <!-- Template Main CSS File -->
        <link href="../assets/css/style.css" rel="stylesheet" />
    {% endblock %} {# end stylesheets #}
{% endblock %} {# end head #}


{% block bodyClass %} "d-flex flex-column justify-content-center container-fluid align-items-center px-5" {% endblock %}

{% block navBar %}
<div class="container sticky-top">
    <div class="row content">
        <nav id="navbar" class="col-md-12 space-between navbar border border-info rounded-pill mt-3 mb-3" data-aos="fade-down">
        <a href="?route=home">
            <img src="images/cf2m-logo-good.png" alt="Logo CF2M" class="m-2 " style="width: 36px; height: 36px;">
        </a>
        <ul class="d-flex justify-content-evenly mx-auto" style="width: 75%;">
            <li>
                <a href="?route=home" class="text-uppercase">accueil</a>
            </li>
            <li>
                <a href="?route=cent" class="text-uppercase">Notre Centre</a>
            </li>
            <li>
                <a href="?route=form" class="text-uppercase">Formations</a>
            </li>
            <li>
                <a href="?route=work" class="text-uppercase">Travaux</a>
            </li>
            <li>
                <a href="?route=resx" class="text-uppercase">Nos Resaux</a>
            </li>
        </ul>
        <a href="https://cf2m.be">
            <img src="images/cf2m-logo-good.png" alt="Logo CF2M" class="mx-2" style="width: 36px; height: 36px;">
        </a>
    </nav>
    </div>
</div>
{% endblock %} {# end navBar #}


{% block footer %}
    <div class="d-flex w-100 justify-content-center bottom-0 pb-4" style="width: 25%; bottom: 12rem; left: 0; right: 0; margin: 0 auto;">
    &copy;
        <a href="https://2023.webdev-cf2m.be/Guillaume/"
           target="_blank"
           rel="noopener noreferrer"
           class="pr-2 pl-2 text-blue-700">
            BailGui
           et
        </a>
        <a href="https://leerlandais.com"
           target="_blank"
           rel="noopener noreferrer"
           class="px-1 text-blue-700">
            Leerlandais
        </a>
        <span class="text-dark">{{ 'now' | date('Y') }}</span>
    </div>
{% endblock %}

{% block javascript %}
 <!-- Vendor JS Files -->
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
{% endblock %}